
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Noto Sans JP', 'Noto Sans KR', sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
}

#app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    width: 100%;
}

#page-title {
    font-size: 2.4rem;
    margin-bottom: 20px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#character-card {
    background-color: #1e1e1e;
    border-radius: 12px;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.7);
    padding: 15px;
    max-width: 55%; 
    width: 100%; 
    text-align: center;
    transition: transform 0.3s ease;
}

#character-card:hover {
    transform: scale(1.03);
}

#character-name {
    font-size: 1.8rem; 
    margin-bottom: 10px;
}

#character-image {
    display: block; 
    height: auto; 
    max-width: 100%; 
    max-height: 400px; 
    border-radius: 8px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    margin: 0 auto 10px; 
}

#character-bio {
    margin: 15px 0;
    text-align: center;
    white-space: pre-wrap;
    line-height: 1.6; 
}

button {
    background-color: #6200ea;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 1rem; /* Default button font size */
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 0%;
    width: 100%;
    transition: background-color 0.3s; /* Add a transition for hover effect */
}

button:focus {
    outline: none; /* Remove the default focus outline */
    box-shadow: 0 0 0 2px #009688; /* Add a custom outline (adjust color as needed) */
}

button:hover {
    background-color: #6200eaa0; /* Hover color for buttons */
}

/* Other button styles */
#details-btn {
    background-color: #009688; /* Button background color */
    margin-top: 10px;
    transition: background-color 0.3s; /* Add transition for hover effect */
}

#details-btn:hover {
    background-color: #009687a0; /* Hover color for details button */
}

#language-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    width: 100%;
}

@media (max-width: 600px) {
    body {
        padding: 1em; 
    }

    #page-title {
        font-size: 1.5rem; 
    }

    #character-name {
        font-size: 1.5rem; 
    }

    #character-bio {
        font-size: 0.7rem; 
    }

    button {
        font-size: 0.9rem; 
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    #page-title {
        font-size: 2.2rem; 
    }

    #character-name {
        font-size: 1.6rem; 
    }

    #character-bio {
        font-size: 1rem; 
    }

    button {
        font-size: 1.05rem; 
    }
}