/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Noto Sans JP', 'Noto Sans KR', sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-title {
    font-size: 27px;
    margin-bottom: 20px;
    height: 50px; /* Fixed height */
    line-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#character-card {
    background-color: #1e1e1e;
    border-radius: 12px;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.7);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease;
}

#character-card:hover {
    transform: scale(1.05);
}

#character-name {
    font-size: 24px;
    margin-bottom: 10px;
}

#character-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#character-bio {
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;
    white-space: pre-wrap;
    font-size: 10px; /* Larger font */
    line-height: 1.5; /* Better readability */
}

#shuffle-btn, #lang-ko, #lang-en, #lang-ja {
    background-color: #6200ea;
    color: white;
    padding: 10px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
}

#shuffle-btn:hover, #lang-ko:hover, #lang-en:hover, #lang-ja:hover {
    background-color: #3700b3;
}

#language-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}

#details-btn {
    background-color: #009688;
    color: white;
    padding: 10px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

#details-btn:hover {
    background-color: #00796b;
}

button:focus {
    outline: 2px solid #6200ea;
}
